h3 {
  font-family:Arial;
}

h1.b {
  font-family:Arial;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 50px;
}

p.b, ul, ol, li {
    font-family: Arial;
    font-size: 12pt;
}

blockquote {
    font-family: Arial;
    font-size: 12pt;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

tr:hover {background-color: lightblue;}

.responsive {
  max-width: 100%;
  height: auto;
}

figcaption {
  padding-top: 0px;
  font-family: Arial;
  font-size: 16pt;
}
  

* {
    box-sizing: border-box;
}

  
.column {
    float: left;
    width: 25%;
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.column.b {
    float: left;
    width: 50%;
    padding: 10px;
}

.column.c {
  float: left;
  width: 33.33%;
  padding-right: 50px;
  padding-left: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
  
  @media screen and (max-width: 600px) {
    .column, .column.b, .column.c {
      width: 100%;
  }
}

.responsive {
  width: 100%;
  max-width: 400px;
  height: auto;
}

.blinking{
    animation:blinkingText 1.2s infinite;
}
@keyframes blinkingText{
    0%{     color: #000;    }
    49%{    color: #000; }
    60%{    color: transparent; }
    99%{    color: transparent; }
    100%{   color: #000;    }
}
