h3 {
  font-family:Arial;
}

h1.b {
  font-family:Arial;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 50px;
}

h2 {
  padding: 20px;

}

p.b, ol, li {
    font-family: Arial;
    font-size: 12pt;
    padding: 20px;
}

ul {
    font-family: Arial;
    font-size: 12pt;
}

blockquote {
    font-family: Arial;
    font-size: 12pt;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

tr:hover {background-color: lightblue;}

.responsive {
  max-width: 100%;
  height: auto;
}

figcaption {
  padding-top: 0px;
  font-family: Arial;
  font-size: 16pt;
}

select, option {
  font-family: sans-serif;
  font-size: 12pt;
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 4px;
  padding: 5px;
}
  

* {
    box-sizing: border-box;
}

  
.column {
    float: left;
    width: 25%;
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.column.b {
    float: left;
    width: 50%;
    padding: 20px;
}

.column.c {
  float: left;
  width: 33.33%;
  padding: 20px;
}

.column.d {
  float: left;
  width: 66.66%;
  padding: 20px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
  
  @media screen and (max-width: 600px) {
    .column, .column.b, .column.c, .column.d {
      width: 100%;
  }
}

.responsive {
  width: 100%;
  max-width: 400px;
  height: auto;
}
