h3 {
    font-family:Arial;
    padding: 20px;
  }
  
  h1.b {
    font-family:Arial;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 50px;
  }
  
  h2 {
    padding: 20px;
  
  }
  
  p.b, ol, li {
      font-family: Arial;
      font-size: 12pt;
      padding: 10px;
  }
  
  ul {
      font-family: Arial;
      font-size: 12pt;
  }
  
  blockquote {
      font-family: Arial;
      font-size: 12pt;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }
  
  tr:hover {background-color: lightblue;}
  
  .responsive {
    width: 100%;
    max-width: 200px;
    height: auto;
  }
  
  figure {
    border: 1px #cccccc solid;
    padding: 20px;
    margin: 1em;
    text-align: center;
  }
  
  figcaption {
    text-align: left;
  }

  img {
    border: 1px #cccccc solid;
    padding: 25px;
    margin: 1em;
  }
  
  select, option {
    font-family: sans-serif;
    font-size: 12pt;
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 4px;
    padding: 5px;
  }
    
  
  * {
      box-sizing: border-box;
  }
  
    
  .column {
      float: left;
      width: 25%;
      padding: 0px;
  }
  
  .column.b {
      float: left;
      width: 50%;
      padding: 20px;
  }
  
  .column.c {
    float: left;
    width: 33.33%;
    padding: 20px;
  }
  
  .column.d {
    float: left;
    width: 66.66%;
    padding: 20px;
  }
  
  .row:after {
      content: "";
      display: table;
      clear: both;
  }
    
    @media screen and (max-width: 800px) {
      .column, .column.b, .column.c, .column.d {
        width: 100%;
    }
  }
  
  .responsive {
    width: 90%;
    max-width: 400px;
    height: auto;
  }
  